* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

body {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

--- HEADER (Float layout) --- */ .header-area {
  background-color: #cde4f7;
  border-bottom: 2px solid #000;
  padding: 10px;
  overflow: hidden;
}

.block-x {
  float: left;
  width: 200px;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
}

.block-1 {
  overflow: hidden;
  padding-right: 20px;
  text-align: right;
  padding-top: 10px;
}

.middle-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-2,
.center-column,
.block-5 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.block-2 {
  background-color: #ffe4cd;
  width: 20%;
  border-right: 1px solid #000;
  padding: 10px;
}

.center-column {
  width: 60%;
}

.block-3 {
  background-color: #eaf3dd;
  border-bottom: 1px solid #000;
  padding: 15px;
  text-align: center;
}

.block-4 {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #000;
  min-height: 465px;
}

.block-6 {
  background-color: #eaf3dd;
  padding: 15px;
  text-align: center;
}

.block-5 {
  background-color: #ffe4cd;
  width: 20%;
  border-left: 1px solid #000;
  padding: 10px;
}

.footer-area {
  background-color: #cde4f7;
  border-top: 2px solid #000;
  padding: 10px;
  overflow: hidden;
}

.block-y {
  float: right;
  width: 200px;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  margin-left: 20px;
  text-align: center;
}

.block-7 {
  overflow: hidden;
  padding-left: 20px;
  padding-top: 10px;
}

ul.menu {
  list-style-type: none;
}
.menu-item {
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
.link:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
.title-main {
  display: none;
}

.h1-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.67em;
  line-height: 1.2;
  color: #111;
}
.h2-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.75em;
  color: #222;
}
.h3-text {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.8em;
  color: #333;
}
.h4-text {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #444;
}
.h5-text {
  font-size: 0.83em;
  font-weight: bold;
  margin-bottom: 1.2em;
  color: #555;
}
.h6-text {
  font-size: 0.67em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.useful-link {
  display: block;
  margin-bottom: 20px;
}
.logo-image {
  display: block;
  max-width: 100%;
  width: 80px;
  height: auto;
  margin-top: 5px;
}
